@model Stock_Management.Controllers.UserController.InputModel
@{
    ViewData["Title"] = "Đăng Nhập";
}
        <h2>@ViewData["Title"]</h2>
        <form action="/User/Login" method="post">
            <div class="form-group">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password"></label>
                <input asp-for="@Model.Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <button type="submit" id="btnSubmit">Đăng nhập</button>
        </form>
        
        @if (ViewData["error"] != null)
            {
                <h3>@ViewData["error"]</h3>
            }
            
            
