@model IEnumerable<Stock_Management.Models.TbBangHienThi>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Bảng chứng khoán</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Ma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tran)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.San)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuaG3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuaKl3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuaG2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuaKl2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuaG1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuaKl1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhopLenhGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhopLenhKl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TileTangGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BanG1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BanKl1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BanG2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BanKl2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BanG3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BanKl3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongKl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoCua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaoNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nnmua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nnban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
        </tr>
    </thead>
    <tbody id="tableBody">
        
    </tbody>
</table>
